<table class="xp-table table">

    <thead class="xp-table-head">
        <tr class="xp-table-head-tr">
            <th scope="col" class="xp-table-head-td " *ngFor="let column of xpColumns" data-toggle="tooltip" data-placement="top"
                [title]="getHeaderColumn(column)">
                {{getHeaderColumn(column) }}

            </th>
        </tr>

    </thead>
    <tbody class="xp-table-body">
        <tr class="xp-table-body-tr" *ngFor="let row of dataSource">
            <td scope="row" class="xp-table-body-td" *ngFor="let column of xpColumns" data-toggle="tooltip" data-placement="top"
                [title]="getColumn(row,column)">
                {{getColumn(row,column) }}
            </td>
        </tr>
    </tbody>

    <!-- <tfoot>

        <tr>
            <td>Toplam</td>
            <td></td>
            <td>119</td>
        </tr>

        <tr>
            <td>Özet</td>
            <td>Satır Sayısı:15</td>
            <td>Sayfa 1</td>
        </tr>

    </tfoot> -->
</table>