
 <div class="input-group mb-3">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false"><i class="bi bi-search"></i></button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col" *ngFor="let column of serializedColumns()"> {{column.caption?column.caption:column.field}}
            </th>
        </tr>
        <tr *ngIf="xpFilter.visiable">
            <th scope="col" *ngFor="let column of serializedColumns()">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false"><i class="bi bi-search"></i></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>
            </th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let row of dataSource">
            <th scope="row" *ngFor="let column of serializedColumns()"> {{getColumn(row,column?.field) }}</th>
        </tr>
    </tbody>
</table>